*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1230px;
    height: 100%;
    margin:0 auto;
}
/* .trangle{
    border-style: solid;
    border-color:#c0c0c0 transparent transparent transparent;
} */