#header{
    height: 32px;
    background: #eee;
    font-size: 12px;
    line-height: 32px;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#login-info{
    float: left;
}
#login-info span,#login-info a,#quick-menu a{
    color: #999;
}
#login-info a{
    padding-left: 12px;
}
#login-info a:hover{
    color: #fc0f3d;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float: left;
    padding: 0 14px;
    cursor: pointer;
}
#quick-menu .trangle{
    position:relative;
}
#quick-menu .menu:hover a{
    color: #fc0f3d;
}
#quick-menu .trangle:hover{
    background: #fff;
    /* border-style: solid;
    border-color:#c0c0c0 transparent transparent transparent; */
}
#quick-menu .trangle:hover > a{
    text-decoration: underline;
}
#quick-menu .trangle::after{
    content:'';
    width: 0;
    height: 0;
    border-width: 3px;
    border-style:solid;
    border-color:#bbb transparent transparent transparent;
    position:absolute;
    top:50%;
    margin-top:-1.5px;
    right:4px;
}
